<div class='container py-4'>
  <div class="row mt-5">
    <div class="col-10 col-lg-8 col-xl-8 mx-auto">
      <div class="card card-body">
        <h1 class="text-center mt-3">Register</h1>
        <hr>
        {{> message}}
        <form action="/users/register" method="POST">

          <div class="row mb-3 mt-4 g-2">
            <label for="email" class="col-md-3 col-form-label ms-5">
              Name
            </label>
            <div class="col-md-6 me-2 ms-2">
              <input type="name" name="name" class="form-control" id="name" required value="{{ name }}">
            </div>
          </div>

          <div class="row mb-3 mt-2 g-2">
            <label for="email" class="col-md-3 col-form-label ms-5">
              Email
            </label>
            <div class="col-md-6 me-2 ms-2">
              <input type="email" name="email" class="form-control" id="email" required value="{{ email }}">
            </div>
          </div>

          <div class="row mb-3 mt-2 g-2">
            <label for="password" class="col-md-3 col-form-label ms-5">
              Password
            </label>
            <div class="col-md-6 me-2 ms-2">
              <input type="password" name="password" class="form-control" id="password" required>
            </div>
          </div>

          <div class="row mb-5 mt-2 g-2">
            <label for="confirmPassword" class="col-md-3 col-form-label ms-5">
              Confirm Password
            </label>
            <div class="col-md-6 me-2 ms-2">
              <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" required>
            </div>
          </div>

          <div class="d-grid gap-2 col-6 mx-auto mb-2">
            <button type="submit" class="btn btn-outline-primary btn-block ">Register</button>
          </div>
          
        </form>
        <p class="mt-5">
          Have An Account? <a href="/users/login">Login</a>
        </p>
      </div>
    </div>
  </div>
</div>
